---
import Layout from "../layouts/Layout.astro";
import siteData from "../data/site.json";
import GalleryFigure from "../components/GalleryFigure.astro";
---

<Layout>
    <aside class="sidebar">
        <div class="logo">&#8734;</div>
    </aside>

    <main class="main">
        <h1>CSS Grid - Photo Gallery</h1>

        <div class="gallery">
            {siteData.map((rec) => <GalleryFigure rec={rec} />)}
        </div>
    </main>
</Layout>
